body {
    font-family: Arial, sans-serif;
    background-color: #b7daea;
    margin: 0; 
    padding: 0; 
}
header {
    background-color: #333;
    color: #f8f372;
    text-align: center;
    padding: 10px;
}
h1 {
    margin: 0; 
    color: #46b93c;
    font-size: 15px;
}
h2 {
    margin: 0; 
    color: #6a8283;
    font-size: 35px;
}
h3 {
    margin: 0; 
    color: #46b93c;
    font-size: 15px;
}
h4 {
    margin: 0; 
    color: #46b93c;
    font-size: 25px;
}
main {
    max-width: 300px;
    margin: 20px auto;
    padding: 15px;
}
.profile, .info, .contact {
    margin-bottom: 20px; 
    padding: 20px;
    border: 1px solid #cdd018;
    background-color: #e1f7cf;
}
.profile img {
    max-width: 100%;
    height: auto;
}
.contact ul {
    list-style: none;
    padding: 0;
}
.contact li {
    margin-bottom: 20px;
    font-size: 17px;
}
button {
    width: 80px;
    height: 25px;
    background-color: #e3e39f;
    color: #cf3535;
    font-family: Arial, sans-serif;
    font-size: 15px;
}
button:hover { 
    background-color: #97de9c;
}